/* Import a futuristic font */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

/* General styles */
body {
  font-family: 'Exo', sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The Modal (background) */
.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.myModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.656);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(97, 97, 97, 0.192);
  backdrop-filter: blur(13px);
  margin: 0px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  width: 45%;
  max-width: 700px;
  z-index: 20;
  box-shadow: 0 0 12px rgba(0, 255, 213, 0.482);
}

.modal-content h1 {
  text-align: center;
  color: #0cf2a5;
  font-size: 1.8rem;
  margin-bottom: 12px;
}

/* Form details */
.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: calc(50% - 10px);
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 7px;
  color: #0eeaa0;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  background: rgba(42, 42, 42, 0.9);
  border: 1px solid #0eeaa0;
  border-radius: 5px;
  color: #0eeaa0;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 0.9rem;
}

.form-group input:focus {
  background-color: rgba(51, 51, 51, 0.9);
  border-color: rgb(0, 255, 174);
}

/* Submit and Close Buttons */
#sub, .close-btn {
  background-color: #0eeaa0;
  color: #121212;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
}

#sub:hover, .close-btn:hover {
  background-color: #00ffae;
  color: #121212;
}

.close {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #00ff9d;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Results container */
.results-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.data-column {
  width:100%;
  padding: 15px;
  background-color: rgba(34, 34, 34, 0.769);
  border-radius: 5px;
}

.data-column h3 {
    margin-bottom: 16px;
    color: #0eeaa0;
    text-align: center;
  }
  
  .data-column p {
    margin: 10px 0;
    color: #ffffff;
    line-height: 1.6; /* Increases the space between lines */
    margin-bottom: 6px; /* Adds space below each paragraph */
  }
  
  .data-column p div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } 

.price-column {
  width: 100%;
  padding: 8px;
  background-color: rgba(34, 34, 34, 0.769);
  border-radius: 50px;
  text-align: center;
  border: 2px solid #0eeaa0;
}

.price-column h2 {
  margin: 0;
  color: #0eeaa0;
}

/* Additional styles for form */
.button-sub {
  text-align: center;
  width: 100%;
}

.button-sub input {
  padding: 8px 16px;
  background-color: #00ffae;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button-sub input:hover {
  background-color: #06ffb9;
}


@media screen and (max-width: 768px) {
  .navbar {
      display: none; /* Hide the navbar on small screens */
  }
  #menu-icon {
      display: block; /* Show menu icon on small screens */
      color: #0eeaa0;
  }
  .nav {
      justify-content: space-between; /* Adjust nav layout */
  }
  /* When 'show' class is added, navbar becomes visible */
  .navbar.show {
    display: block;
  }
  .home-text {
      padding-right: 20px; /* Adjust padding for smaller screens */
      padding-left: 20px;
  }
  .form-group {
      width: 100%; /* Make form inputs full width on smaller screens */
  }
  .myModal {
    width: 90%; /* Adjust modal width on small screens */
}
.modal-content {
    width: 100%; /* Adjust modal content width for smaller screens */
}


}

/* VARIABLES CSS*/
:root {
  --header-height: 3.5rem;
  --first-color: hsl(163, 86%, 54%);
  --first-color-alt: hsl(213, 84%, 52%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 100%);
  --text-color-light: hsl(219, 27%, 73%);
  --white-color: #ffffff;
  --body-color: hsl(0, 0%, 18%);
  --container-color: hsl(220, 10%, 12%);
  --body-font: 'Exo', sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*REUSABLE CSS CLASSES*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}
.shape{
    background-color: hsla(166, 36%, 26%, 0.5);
    filter: blur(112px);
    border-radius: 50%;
}
.shape__big{
    width: 400px;
    height: 400px;
}
.shape__small{
    width: 300px;
    height: 300px;
}
.shape__smaller{
    width: 180px;
    height: 180px;
    filter: blur(64px);
}
/* HEADER & NAV */
/*fixed the scroll issue*/
.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: var(--z-fixed);
    transition: top 0.2s; /*Smooth transition */
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    display: inline-flex;
}

.nav__logo {
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.nav__logo i {
    font-size: 1.25rem;
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__menu {
    display: none;
}

.nav__menu.show-menu {
    display: block;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    margin-bottom: 1rem;
}

.nav__link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}

.nav__link:hover,
.nav__link.active-link {
    color: var(--first-color);
}

.nav__close {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        background-color: hsla(0, 0%, 100%,.1);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: 0.3s;
    }}
    .nav__list{
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 3rem;
        padding-top: 9rem;
    }
    .nav__link{
        text-transform: uppercase;
        color: var(--title-color);
        font-size: var(--h2-font-size);
        font-weight: var(--font-medium);
        transition: 0.3s;
    }
    .nav__link:hover{
        color: var(--first-color);
    }
    .nav__close{
        font-size: 2rem;
        color: var(--white-color);
        position:absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
/* Show menu */
.show-menu{
    right: 0;
}

/* Change background header */
.scroll-header{
    border-radius: 0 0 1rem 1rem;
    background-color: var(--body-color);
    box-shadow: 0 2px 4px hsla(0, 0%, 1%,1);
}

/* Active link */
.active-link{
    color: var(--first-color);
}

/* HOME*/
.home{
    position: relative;
    overflow: hidden;
}
.home__container{
    position: relative;
    padding-top: 1rem;
    row-gap: 1.25rem;
}
.home__data{
    text-align:center ;
}
.home__title{
    font-size: var(--h1-font-size);
    margin-bottom: 0.6rem;
}
.home__subtitle{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}
.home__elec{
    font-size: var(--small-font-size);
    font-weight: 400;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}
.home__elec i{
    color: var(--first-color);
}
.home__img{
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 10px auto;
    width: 40%;
}
.home__car{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.4rem;
    margin-bottom: 2rem;
}
.home__car-name{
    font-size: 0.625rem;
    font-weight: 400;
    color: var(--text-color-light);
}
.home__car-data{
    text-align: center;
}
.home__car-number{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
}
.home__car-icon{
    background-color: var(--container-color);
    border-radius: 50%;
    padding: .576rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    margin-bottom: .75rem;
}
.home__button{
    position: relative;
    border: 2px solid hsl(158, 80%, 45%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: var(--small-font-size);
    color: var(--white-color);
    font-weight: var(--font-medium);
    
}
.home__button::before{
    content: '';
    border: 2px solid hsl(158,89%,30%);
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px hsl(158,89%,30%);
    transition: .3s;
    animation: button 3s infinite;
}
.home .shape__big , .home .shape__small{
    position: absolute;
}
.home .shape__big{
    left: -9rem;
    top: -4rem;
}
.home .shape__small{
    right: -10rem;
    bottom: 3rem;
}
/* Button animate */
@keyframes button {
    0%{
        box-shadow: 0 0 12px hsl(158,89%,43%);
    }
    50%{
        box-shadow: 0 0 40px hsl(158,89%430%);
    }
}

/* BUTTON*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color:var(--white-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-size:var(--normal-font-size) ;
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-alt);
}
/* ABOUT*/
.about__container{
    row-gap: 5rem;
}
.about__group{
    width: 310px;
    border-radius: .5rem;
}
.about__card{
    width: 180px;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    background-color: hsla(0, 0%, 0%, 0.128);
    backdrop-filter: blur(16px);
    padding: 1rem .75rem;
    text-align: center;
    border-radius: 1.25rem;
}
.about__card-title{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}
.about__card-description{
    font-size: var(--smaller-font-size);

}
.about__title{
    text-align: initial;
    margin-bottom: 2rem;
}
.about__description{
   margin-bottom:2rem ; 
}
/* POPULAR */
.popular__container {
    padding-top: 0.2rem;
}

.popular__card {
    position: relative;
    width: 300px;
    background-color: var(--container-color);
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 1rem;
    margin-top: 3.5rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.popular__card .shape__smaller {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
}

.popular__title,
.popular__subtitle,
.popular__img {
    position: relative;
}

.popular__subtitle {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 500;
}

.popular__img {
    width: 170px;
    margin: 0.75rem 0 1.25rem 1.5rem;
    transition: 0.5s;
}

.popular__data {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.3rem 0.6rem;
    margin-bottom: 1.5rem;
}

.popular__data-group {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: var(--small-font-size);
    color: var(--white-color);
}

.popular__data i {

    font-size: 1rem;
}

.popular__button {
    border: none;
    outline: none;
    padding: 0.75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 2rem 0 1rem 0;
    cursor: pointer;
}

.popular__button i {
    font-size: 2rem;
}

.popular__card:hover {
    transform: translateY(-0.25rem);
}

.popular__img {
    transform: translateY(-0.25rem);
}
.blur {
    filter: blur(5px);
    pointer-events: none;
}

.popular.section {
    transition: filter 0.3s;
}

.popular__container {
    transition: filter 0.3s;
}

.popular__card {
    transition: filter 0.3s;
}


/* Modal */
.car-details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*opacity of card*/
    background-color: rgba(0, 0, 0, 0.663);
    padding: 2rem;
    border-radius: 1.5rem;
    z-index: 9999;
    display:block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*writing inside the card on click*/
.car-details-modal h2,
.car-details-modal p,
.car-details-modal div {
    color: rgb(255, 255, 255);
    margin: 5px;
}

.car-details-modal img {
    width: 280px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
/* close button for the cards on click*/
.car-details-modal button {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: var(--first-color);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

/* Blurred background */
.popular__container.blur {
    filter: blur(5px);
}


/* FEATURES*/
.features{
    overflow: hidden;
    position: relative;
}
.features__container{
    padding-top: 2rem;
    grid-template-columns: 285px;
    justify-content: center;
}
.features__group{
    display: grid;
    position: relative;
    z-index:10 ;
}
.features__img{
    width: 150px;
    justify-self: center;
}
.features__card{
    width: 112px;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
    padding: .75rem 2rem;
    text-align: center;
    color: var(--text-color);
    position: absolute;
}
.features__card-1{
    top: 4rem;
    left: 1.5rem;
}
.features__card-2{
    top: 8rem;
    right: 1rem;
}
.features__card-3{
    left: 1.5rem;
    bottom: 2rem;
}
.features__card-title{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.features__card-description{
    font-size: var(--smaller-font-size);
}
.features__map{
    max-width: initial;
    width: 450px;
    position: absolute;
    top: 8rem;
    left_: 3rem;
    margin: auto;
    transform: rotate(-22deg);
}
/* FEATURED*/
.featured__container{
    padding-top: 1rem;
}
.featured__filters{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}
.featured__item{
    width: 48px;
    height: 48px;
    border: none;
    padding: .75rem;
    border-radius: .75rem;
    background-color: var(--container-color);
    color: var(--white-color);
    font-size: var(--normal-font-size);
    cursor: pointer;
    transition: .3s;
}
.featured__item img{
    width: 1.5rem;
}
.featured__item span , .featured__item img{
    opacity: .3;
    transition: .3s;
}
.featured__item:hover{
    background-color: var(--first-color);
}
.featured__item:hover span ,.featured__item:hover img{
   opacity: 1;
}
.featured__content{
    grid-template-columns: 228px;
    row-gap: 2.5rem;
    justify-content: center;
}
.featured__card{
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
}
.featured__card .shape__smaller{
    position: absolute;
    inset: 0;
    margin: auto;
}
.featured__title,.featured__subtitle,.featured__img{
    position: relative;
}
.featured__title{
    font-size: var(--h2-font-size);
    margin-bottom: .25rem;
}
.featured__subtitle{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 400;
}
.featured__img{
    width: 180px;
    margin: 1.5rem 0;
    transition: .3s;

}
.featured__price{
    font-size: var(--h3-font-size);
}
.featured__button{
    border: none;
    outline: none;
    padding: .75rem 1rem;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}
.featured__button i{
    font-size: 1.25rem;
}
.featured__card:hover {
        transform: translateX(-0.25rem);
        transition: transform 0.3s;}
    .featured__img:hover {
        transform: translateX(-0.25rem);
        transition: transform 0.3s;
    }
  

/* Active link featured */

  .active-featured{
        background-color: var(--first-color);
    }
    .active-featured span, .active-featured img{
opacity: 1;
    }
/*Fuel statics*/
.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   padding : 1rem;
    background-color: var(--background-color);
}

.statistics-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.chart {
    width: 100%;
    max-width: 800px;
    height: 500px; /* Increase the height for a taller chart */
    margin: 1rem 0;
}
.fuel-statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color);
}

.fuel-statistics-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.fuel-chart {
    width: 100%;
    max-width: 800px;
    height: 500px; /* Height for the chart */
    margin: 1rem 0;
}
/*Importance*/
.feature-importance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color);
}

.feature-importance-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.feature-importance-chart {
    width: 100%;
    max-width: 800px;
    height: 500px; /* Height for the chart */
    margin: 1rem 0;
}

.statistics-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
#statt{
    margin-top: 80px;
    text-align: center;
}
.chart-container {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER*/
.footer {
    position: relative;
    overflow: hidden;
    background-color: var(--footer-bg-color); /* Adjust as needed */
    padding: 1rem 0; /* Reduced padding for smaller height */
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.footer__logo i {
    font-size: 1.5rem;
    font-weight: 500;
}

.footer__logo:hover {
    color: var(--first-color);
}

.footer__links {
    display: flex;
    column-gap: 1.5rem; /* Space between links */
}

.footer__link, .footer__social-link {
    color: var(--text-color);
    transition: .3s;
    text-decoration: none; /* Remove underline from links */
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__social-links {
    display: flex;
    column-gap: 1rem;
}

.footer__social-link:hover {
    color: var(--first-color);
}

.scrollup {
    position: fixed;
    bottom: 1rem; /* Adjust position for smaller footer */
    right: 1rem; /* Adjust position for smaller footer */
    background-color: var(--first-color);
    color: #fff;
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer;
    display: none; /* Hidden initially */
}

.scrollup i {
    font-size: 1.5rem;
}

/* SCROLL BAR*/
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(219, 4%, 16%);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
    background-color: hsl(219, 4%, 24%);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(219, 4%, 32%); ;
}
/* SCROLL UP*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: hsl(0, 0%, 100%);
    backdrop-filter: blur(16px);
    display: inline-flex;
    padding: 0.45rem;
    border-radius: .5rem;
    font-size: 1.15rem;
    color: var(--white-color);
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup:hover{
    transform: translateY(-.25rem);
}
/* Show Scroll Up*/
.show-scroll{
    bottom: 3rem;
}

/* For small devices */
@media screen and (max-width: 320px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .home__car{
        column-gap: 2rem;
    }
    .about__card{
        width: 150px;
    }
    
}

/* For medium devices */
@media screen and (min-width:520px){
    .about__group{
        width: 350px ;
        justify-self: center;
    }
    .features__map{
        left: 0;
        right: 0;
    }
    .featured__content{
        grid-template-columns: (repeat,228px);
    }
    
}
@media screen and (min-width: 767px){
    .section{
        padding:7rem 0 2rem;
    }
    .nav{
        height: 100px;
    }
    .nav__toggle, .nav__close{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }
    .nav__link{
        font-size: var(--normal-font-size);
        text-transform: initial;
    }

    .about__container{
        grid-template-columns:repeat(2,1fr) ;
    }
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }
}
/* For large devices */
@media screen and (min-width: 1040px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .shape__big{
        width: 500px;
        height: 500px;
    }
    .shape__small{
        width: 400px;
        height: 400px;
    }

    .home__container{
        padding-top:0rem ;
    }
    .home__img{
        width: 380px;
    }
    .home__car{
        column-gap: 9.5rem; 
    }
    .home__car-icon{
        font-size: 1.25rem;
        margin-bottom: 1rem;
    } 
    .about__container{
        column-gap: 4rem ;
        align-items:  center;
    }
    .about__group, .about__img{
        width: 590px;
    }
    .about__card{
        width: 198px;
        padding:1rem 1.25rem ;
    }
    .about__description{
        padding-right: 2rem;
        margin-bottom: 1.5rem;
    }
    .popular__container{
        width: 890px;
        padding-top: 0rem;
    }
    .popular__card{
        width: 286px;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
    }
    .popular__img{
        width: 200px;
        margin: .75rem 0 1.25em 2rem;
    }
    .features__container{
        padding: 2rem 0 3rem;
    }
    .features__img{
        width: 210px;
    }
    .features__card{
        width: 147px;
        padding:.75rem 2.5rem;
    }
    .features__card-1{
        left: -2rem;
    }
    .features__card-2{
        right: -2.5rem;
    }
    .features__card-3{
        bottom: 7rem;
        left: -1rem;
    }
    .features__map{
        width: 670px;
        top: 11rem;
    }
    .featured__container{
        padding-bottom: 2.5rem;
        margin-bottom: 4.5rem;
    }
    .featured__filters{
        column-gap: 2rem;
        margin-bottom: 4.5rem;
    }
    .featured__item{
        width: 52px;
        height: 52px;
    }
    .featured__item img{
        width: 2rem;
    }
    .featured__content{
        grid-template-columns: repeat(3,240px);
    }
    .footer__container{
        grid-template-columns: repeat(3,max-content);
        justify-content: space-between;

    }
    .footer__logo{
        column-gap: .5rem;
    }
    .footer__logo i{
        font-size: 2rem;
    }
    .footer__title{
        margin-bottom: 1.5rem;
    }
    .footer__links{
        row-gap: .75rem;
    }
    .scrollup{
        right: 3rem;
        
    }
}

